save=true
save-exact=true
save-prefix=''
# package-lock=false
# @rove-team:registry=https://gitlab.markitasdone.com/api/v4/projects/188/packages/npm/
# //gitlab.markitasdone.com/api/v4/projects/188/packages/npm/:_authToken=${GITLAB_ACCESS_TOKEN}

# @rove-team:registry=https://gitlab.markitasdone.com/api/v4/packages/npm/
# //gitlab.markitasdone.com/api/v4/packages/npm/:_authToken=${GITLAB_ACCESS_TOKEN}